<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Rewards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
  	<% include partials/menu %>
  	<div id="wrapper">
		<%- include home_sidebar.ejs %>
	  	<div id="rewards" class="section">
			<div class="container">
				<h2>Rewards Redeemed</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">RewardsID</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
							<th scope="col">Valid</th>
							<th scope="col">Use</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<rewards.length; i++) { %>
						<tr>
							<td><%= rewards[i].rewardscode%></td>
							<td><%= rewards[i].s_date%></td>
							<td><%= rewards[i].e_date%></td>
							<td><%= rewards[i].is_valid %></td>
							<td><input type='button' class='Use' value='Use'></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
		<div>
			<h2>...........................</h2>
		</div>
		<div class="container">
				<h2>Reservations Made</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Restaurant</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
							<th scope="col">Num of Pax</th>
							<th scope="col">Status</th>
							<th scope="col">Rate</th>
							<th scope="col">Submit</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<reserve.length; i++) { %>
						<tr>
							<td><%= reserve[i].rname%></td>
							<td><%= reserve[i].date%></td>
							<td><%= reserve[i].time%></td>
							<td><%= reserve[i].numPax %></td>
							<td><%= reserve[i].status %></td>
							<td><input type="text" required="required" class="form-control" id="firstname" placeholder="Name" name="name" value="Not rated"></td>
							<td><form action=/update_rate>
        						<input type="submit" class='Rate' value='Rate'/></form>
      						</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
  </body>
</html>