<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Makan Place</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

	<!-- Custom Styles -->
	<link type="text/css" rel="stylesheet" href="stylesheets/style_home.css" />
	<link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.css">

  </head>
  <body>
  	<!-- navigation bar -->
	<% include partials/menu %>

	<div id="booking" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="booking-cta">
						<form action="restaurant_info/add_fav" method="post"> 
							<h1 name="rname" value="<%= rname %>"><%= rname %></h1>
							<button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #4fa3e3">Favourite</button>
							<p name="address" value="<%= address %>"><%= address %></p>
							<% for (var i = 0; i < location.length; i++) { %>
							<p><%= location[i].area %></p>
							<% } %>
							<% for (var i = 0; i < cuisine.length; i++) { %>
							<p><%= cuisine[i].cname %></p>
							<% } %>
						</form>
						<table class="table">
						<thead>
							<tr>
								<th scope="col">Menu Item</th>
								<th scope="col">Price</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i<menu.length; i++) { %>
							<tr>
								<td><%= menu[i].fname%></td>
								<td>$<%= menu[i].price%></td>
							</tr>
							<% } %>
						</tbody>
						<table class="table">
						<thead>
							<tr>
								<th scope="col">Day</th>
								<th scope="col">Time</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i<openHour.length; i++) { %>
							<tr>
								<td><%= openHour[i].day%></td>
								<td><%= openHour[i].s_time%> to <%= openHour[i].s_time + openHour[i].hours%></td>
							</tr>
							<% } %>
						</tbody>
					</table>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="booking-form">
						<form id="html_form" action="add_reser" role="form" method="post">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Date</span>
										<input class="form-control" type="date" placeholder="Date" name="date">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Time</span>
										<input class="form-control" type="time" placeholder="Time" name="time">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<span class="form-label">Number of Pax</span>
										<select class="form-control" name="pax">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="form-btn">
								<button class="submit-btn">Make Reservation</button>
							</div>
						</form>
					</div>
					<h1> </h1>
					<h4>Promotion</h4>
					<table class="table">
					<thead>
						<tr>
							<th scope="col">Time</th>
							<th scope="col">Discount</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<promo.length; i++) { %>
						<tr>
							<td><%= promo[i].time%></td>
							<td><%= promo[i].discount*100%>%</td>
						</tr>
						<% } %>
					</tbody>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
