<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Rewards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
  	<% include partials/menu %>
  	<div id="rewards" class="section">
		<div class="container">
			<h2>Rewards</h2>
				<div class="row"> 
					<div class="col-md-10"></div>
					<div class="col-md-2">
						<h5>Points: 0</h5>
					</div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">RewardsID</th>
							<th scope="col">Points</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
							<th scope="col">$$ Saved</th>
							<th scope="col">Redeem</th>
						</tr>
					</thead>
					<tbody>
						<form action="/rewards/redeem" method="post"> 
						<% for(var i=0; i<rewards.length; i++) { %>
						<tr>
							<td name="rid" value="<%= rewards[i].rewardscode%>"><%= rewards[i].rewardscode%></td>
							<td><%= rewards[i].pointsreq%></td>
							<td name="start" value="<%= rewards[i].s_date%>"><%= rewards[i].s_date%></td>
							<td name="end" value="<%= rewards[i].e_date%>"><%= rewards[i].e_date%></td>
							<td><%= rewards[i].amountsaved%></td>
							<td><input type='button' class='Redeem' value='Redeem'></td>
						</tr>
						<% } %>
						</form>
					</tbody>
				</table>
			</div>
		</div>
  </body>
</html>