<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Edit rest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</head>

<body>
    <% include ../partials/owner_menu %>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div class="container">
                                <div class="card card-register mx-auto mt-5">
                                    <div class="container">
                                        <div class="card card-register mx-auto mt-5">
                                            <div class="text-center">
                                                <a class="d-block small mt-3" href="<%-sample_link.edit_fnb%>">edit
                                                    fnb</a>
                                                <a class="d-block small mt-3" href="<%-sample_link.edit_avail%>">edit
                                                    availability</a>
                                                <a class="d-block small mt-3" href="<%-sample_link.edit_op_hrs%>">edit
                                                    operating hours</a>
                                                <a class="d-block small mt-3" href="<%-sample_link.edit_prom%>">edit
                                                    promotion</a>
                                                <a class="d-block small mt-3" href="<%-sample_link.edit_owners%>">edit
                                                    owners</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h2>Restaurant</h2>
                <div class="container">
                    <div class="card card-register mx-auto mt-5">
                        <div class="card-header">Edit a Restaurant</div>
                        <div class="card-body">
                            <form action="/my_restaurants/edit" method="post">
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="text" id="rnameold" class="form-control"
                                                value="<%-data[0].rname%>" required="required" readonly
                                                autofocus="autofocus" name="rnameold">
                                            <label for="rnameold">Current name</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="text" id="rnamenew" class="form-control" placeholder="New Name"
                                                required="required" autofocus="autofocus" name="rnamenew">
                                            <label for="rnamenew">New name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="text" id="addressold" class="form-control"
                                                value="<%-data[0].address%>" required="required" readonly
                                                autofocus="autofocus" name="addressold">
                                            <label for="addressold">Current address</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="text" id="addressnew" class="form-control"
                                                placeholder="New Address" required="required" autofocus="autofocus"
                                                name="addressnew">
                                            <label for="addressnew">New address</label>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card card-register mx-auto mt-5">
                        <div class="card-header">Edit a Restaurant</div>
                        <div class="card-body">
                            <form action="/my_restaurants/edit_loc" method="post">
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="hidden" id="rname" class="form-control"
                                                value="<%-data[0].rname%>" required="required" readonly
                                                autofocus="autofocus" name="rname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="hidden" id="address" class="form-control"
                                                value="<%-data[0].address%>" required="required" readonly
                                                autofocus="autofocus" name="address">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <input type="text" id="areaold" class="form-control"
                                                value="<%-data[0].area%>" required="required" readonly
                                                autofocus="autofocus" name="areaold">
                                            <label for="areaold">Current area</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select class="form-control" id="areanew" name="areanew" autofocus>
                                                    <% for(var i=0; i<area_list.length; i++) { %>
                                                    <option><%=area_list[i].area%></option>
                                                    <% } %>
                                                </select>
                                                <span class="form-label">New area</span>
                                                <span class="select-arrow"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Add/Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
</body>

</html>